.add-to-fav-card {
    width: 340px;
    position: absolute;
    height: 420px;
    top: 1.5rem;
    background-color: #FFFFFF;
    color: #282828;
    right: 5px;
    box-shadow: 0 0 5px rgba(31, 30, 30, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.add-to-fav-card .img-container {
    height: auto;
    width: 100%;
}

.add-to-fav-card .img-container img {
    padding: 2px;
    height: 100%;
    width: 100%;
    border-top-right-radius: var(--base-border-radius);
    border-top-left-radius: var(--base-border-radius);
}

@media screen and (max-width:950px) {
    .add-to-fav-card {
        position: static;
        margin: auto;
        height: auto;
    }
}

.add-to-fav-card .link .author-link {
    text-decoration: underline;
    color: var(--brand-primary);
    cursor: pointer;
}

.add-to-fav-card .link {
    padding-top: var(--base-padding);
    padding-left: 15px;
}

.add-to-fav-card .add-to-fav {
    margin: 15px;
    border: 1px solid #DDDDDD;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}

.credits {
    text-align: center;
    font-weight: 200;
    font-size: var(--base-font-size);
}

.add-to-fav-btn {
    background-color: var(--brand-secondary);
    width: 100%;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.add-to-fav-btn:hover {
    background-color: #008858;
}

@media screen and (max-width:950px) {
    .add-to-fav {
        position: fixed;
        width: 100%;
        left: -15px;
        bottom: -15px;
        background-color: var(--bg_default);
        padding-top: 10px;
        text-align: center;
        z-index: 3;
        color: var(--body-text);
    }

    .add-to-fav-btn {
        font-size: 0.8rem;
    }
}