main {
    background-color: var(--bg_body);
    width: auto;
    padding: 20px 50px;
    min-height: 100vh;
}
form {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px rgba(31, 30, 30, 0.2);
    background-color: var(--bg_default);
    border-radius: var(--base-border-radius);
    justify-content: space-between;
}

.select-btns {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .select-btns {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
        width: 100%;
    }

    .select-btns {
        width: 100%;
    }
}