.select-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    border-left: 1px solid var(--lines-color);
}

.select-btn select {
    border: none;
    color: var(--body-text);
    background-color: var(--bg_default);
    font-weight: 400;
    font-size: var(--base-font-size);
}

.select-btn label {
    font-size: 0.8rem;
    padding-left: var(--base-padding);
}


@media screen and (max-width: 700px) {
    .select-btn {
        border-left: none;
        border-top: 1px solid var(--lines-color);
        padding-bottom: 0.8rem;
        width: 50%;
    }

    .select-btn label {
        padding-top: var(--base-padding);
    }

    .select-btn select {
        width: 100%;
    }
}