a {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.5rem 30px;
    background-color: var(--bg_default);
}
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.name {
    color: var(--brand-primary);
}