section.welcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    background-color: var(--bg_default);
    position: relative;
}
.welcom-content {
    padding-top: 2rem;
    padding-left: var(--base-padding);
}

.first-text {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--brand-secondary);
}