@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --bg_body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
  --base-font-size: 1rem;
  --base-border-radius: 5px;
  --base-padding: 5px;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--bg_body);
  color: var(--body-text);
}
